<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LDSBC_IT_Website</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/navbarSide.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="nav navbar-nav">
                    <img style="width:70px; height:70px;" src="~/images/LDSBCLogo.png" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Other</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

            <br/><br />
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <nav class="navbar navbar-default navbar-fixed-side" role="navigation" >
                        <!-- normal collapsible navbar markup -->
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href=""><i></i> General</a>
                                </li>
                                <li data-target="#it" data-toggle="collapse">
                                    <a><i></i>IT Classes</a>
                                </li>
                                <li >
                                    <div id="it" class="collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT110"><i></i>IT 110</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT125"><i></i>IT 125</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT130"><i></i>IT 130</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT143"><i></i>IT 143</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT145"><i></i>IT 145</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT150"><i></i>IT 150</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT199"><i></i>IT 199</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT210"><i></i>IT 210</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT212"><i></i>IT 212</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT214"><i></i>IT 214</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT216"><i></i>IT 216</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT220"><i></i>IT 220</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT222"><i></i>IT 222</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT224"><i></i>IT 224</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT230"><i></i>IT 230</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT232"><i></i>IT 232</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT240"><i></i>IT 240</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT243"><i></i>IT 243</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT245"><i></i>IT 245</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT250"><i></i>IT 250</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT252"><i></i>IT 252</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT270"><i></i>IT 270</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT290"><i></i>IT 290</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT292"><i></i>IT 292</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/IT295"><i></i>IT 295</a>
                                            </li>
                                        </ul>
                                    </div>
                                   
                                </li>
                                <li data-target="#cs" data-toggle="collapse">
                                    <a><i></i>CS Classes</a>
                                </li>
                                <li>
                                    <div id="cs" class="collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs112"><i></i>CS 112</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs114"><i></i>CS 114</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs115"><i></i>CS 115</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs160"><i></i>CS 160</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs185"><i></i>CS 185</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs210"><i></i>CS 210</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs216"><i></i>CS 216</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs240"><i></i>CS 240</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs260"><i></i>CS 260</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs270"><i></i>CS 270</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs276"><i></i>CS 276</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs278"><i></i>CS 278</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs280"><i></i>CS 280</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs286"><i></i>CS 286</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="/classes/names/cs295"><i></i>CS 295</a>
                                            </li>
                                        </ul>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-sm-12 col-md-10  col-lg-10">
                    <!-- your page content -->
                    @RenderBody()
                    <p>&copy; 2017 - LDSBC_IT_Website</p>
                </div>




                @*<div class="navbar-default sidebar-nav col-lg-2" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                </li>
                            </ul>
                        </div>
                    </div>*@

            </div>      
    </div>

            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("scripts", required: false)
</body>
</html>
